body {
    margin: 0;
    font-family: Helvetica;
}

a, a:visited, a:active {
    color: #267CB9;
}

.menu {
    position: absolute;
    width: 300px;
    min-height: 100%;
    background-color: #f0f0f0;
    z-index: 100;
}

.menu h2.title {
    padding-left: 15px;
    margin-bottom: 10px;
}
.menu a.gitHubLink {
    padding-left: 15px;
}

.menu ul#suitesMenu {
    margin: 20px 0 0 0;
    padding: 0;
}

.menu ul#suitesMenu li {
    list-style-type: none;
    padding: 15px;
    font-size: 14px;
}

.menu ul#suitesMenu li.selected,
.menu ul#suitesMenu li.selected:hover {
    background-color: #222;
    color: #fff;
    cursor: default;
}

.menu ul#suitesMenu li:hover {
    background-color: #e0e0e0;
    cursor: pointer;
    color: #000;
}

.page {
    height: 80%;
    width: 100%;
    position: fixed;
}

.page .suite {
    min-width: 600px;
    min-height: 300px;
    padding: 20px;
    height:100%;
    margin-left: 300px;
}